<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Capsule</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Unbounded-400.ttf</string>
		<string>Unbounded-600.ttf</string>
		<string>Unbounded-700.ttf</string>
		<string>Unbounded-800.ttf</string>
		<string>Unbounded-900.ttf</string>
		<string>Inter-400.ttf</string>
		<string>Inter-500.ttf</string>
		<string>Inter-600.ttf</string>
		<string>Inter-700.ttf</string>
		<string>Inter-800.ttf</string>
		<string>JetBrainsMono-500.ttf</string>
		<string>JetBrainsMono-600.ttf</string>
		<string>JetBrainsMono-700.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Capsule uses the camera so you can seal photos and videos into your trip vault.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Capsule saves unlocked memories back to your photo library when you export them.</string>
	<key>NSContactsUsageDescription</key>
	<string>Capsule uses your contacts to help you invite friends to a vault.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.capsule.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>capsule</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
